.weather-forecast,
.footer-element,
.current-report,
.header-info-search {
  background-color: white;
  margin: 20px auto;
  padding: 30px;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 0 30px 50px grey;
  font-family: "Roboto Mono", monospace;
}
.day-one,
.day-two,
.day-three,
.day-four,
.day-five {
  padding: 20px;
}
